.single-forum .img{width: 100%;}
.single-forum .img img{height: 345px;object-fit: cover;width: 100%;margin-bottom: 20px;}

.add-form{width: 50%;}
@media (max-width:767px){
    .add-form{width: 100% ;}
}